@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-Neutral0: hsl(200, 60%, 99%);
  --color-Neutral200: hsl(0, 0%, 93%);
  --color-Neutral300: hsl(0, 0%, 78%);
  --color-Neutral600: hsl(226, 11%, 37%);
  --color-Neutral700: hsl(225, 23%, 24%);
  --color-Neutral800: hsl(226, 25%, 17%);
  --color-Neutral900: hsl(227, 75%, 14%);
  --color-Red400: hsl(3, 86%, 64%);
  --color-Red500: hsl(3, 71%, 56%);
  --color-Red700: hsl(3, 77%, 44%);
  --color-Dark: #1A2332;
  --light-Gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

html,
body {
  background-image: var(--light-Gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 100%; */
  font-family: "Noto Sans", sans-serif;
}

html.dark body {
  background-image: var(--dark-Gradient);
}

body {
  @apply p-4 text-Neutral900;
}
